{{!< default}}

{{! This is a page template for my hometeaching app. This should pull from my firebase server to get the information about hometeaching. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>

<main class="content" role="main" ng-app="htApp">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section ng-cloak class="report" ng-controller="ctrl">
          <h2>Current Hometeaching Groups</h2>
          <div class="group" ng-repeat="group in data">
            <h3>Hometeachers</h3>
            <p>{[{ group.hters.comp1 }]} &amp; {[{ group.hters.comp2 }]}</p>
            <h3>Hometeachees</h3>
            <p>A list of your hometeachees should be below. Click to reveal how you report for that person.</p>
            <div class="report" ng-repeat="htee in group.htees">
              <h3 ng-click="showReport = ! showReport">Click to Report for: {[{ htee.name }]}</h3>
              <form ng-class="{ 'hidden': ! showReport }">
                <label for="Report">Select month to report on:</label>
                <select name="Report" ng-model="monthSelect" ng-options="option.month for option in htee.report track by option.month"></select>
                <label>
                  Visited
                  <input type="radio" name="visit" ng-change="data.$save(group)" ng-model="monthSelect.visited" value="true">
                </label>
                <label>
                  Not visited
                  <input type="radio" name="visit" ng-change="data.$save(group)" ng-model="monthSelect.visited" value="false">
                </label>
                <br>
                <textarea rows="5" ng-model="monthSelect.concerns" placeholder="Concerns about this hometeachee: E.g. King Lamoni really needs a shower...">
                </textarea>
                <br>
                <button ng-click="updateConcerns(group)">Update Concerns</button>
              </form>
            </div>
            <button ng-click="data.$remove(group)">Delete</button>
          </div>

          <form>
            <label for="comp1">Companion #1</label>
            <input type="text" autocomlete="off" tabindex="0" placeholder="E.g. Ammon" ng-model="group.hters.comp1"/>
            <label for="comp2">Companion #2</label>
            <input type="text" autocomlete="off" tabindex="0" placeholder="E.g. Aaron" ng-model="group.hters.comp2"/>
            <fieldset data-ng-repeat="htee in group.htees track by htee.id">
              <label>Hometeachee</label>
              <input type="text" autocomplete="off" placeholder="E.g. King Lamoni" ng-model="htee.name"/>
            </fieldset>
            <button ng-click="addHtee()">Add Hometeachee</button>
            <button ng-click="addGroup()" type="submit">Enter New Hometeaching Group</button>
          </form>

        </section>

    </article>
</main>
<script type="text/javascript" src="{{asset "js/ht.js"}}"></script>

{{/post}}
